html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: black;  
}
.logo{
  max-width: 50%;
  padding: 13px;
}
.titulo{
  margin-top: 20px;
  color: yellow;
  font-size: 5.6rem;
  text-transform: uppercase;
  text-align: center;
}

  .contendor-inferior{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-img{
    /* background: black; */
    width: 100%;
}
.img-principal{
    width: 100%;
}
.contenedor-boton{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.subtitulo{
    text-transform: uppercase;
    color: black;
    font-size: 2.5rem;
    text-align: center;
}


.boton{
  border-radius: 60px;
  margin-top: 30px;
  border: 3px solid yellow;
  background: black;
  color: yellow;
  width: 470px;
  height: 115px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}
.boton:hover{
  cursor: pointer;
  margin-top: 30px;
  border: 4px solid black;
  background: yellow;
  color: black;
}
.logos{
  display: flex;
  justify-content: space-around;
}

@media (max-width:768px){
  .logo{
    max-width: 50%;
    padding: 13px;
  }
  .titulo{

    color: yellow;
    font-size: 1.3rem;
  }
  .contenedor-boton{
    width: 100%;
    margin-bottom: 10px;
  }
  .boton{
    border-radius: 60px;
    margin-top: 10px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    width: 240px;
    height: 55px;
    font-size: 16px;
  }
  .boton:hover{
    margin-top: 10px;
    border: 1px solid black;
    background: yellow;
    color: black;
  }
  .subtitulo{
    font-size: 1rem;
  }

}
/*paso 6 */
.espacio{
  height: 40px
}
.cont-texto{
  position: relative;
}
.texto{
  position: absolute;
  width: 52%;
  margin-top: 30px;
}
.titulo-firma{
  margin-top: 20px;
  color: yellow;
  font-size: 4.5rem;
  text-transform: uppercase;
  padding-left: 20px;
}
.texto-firma{
  color: black;
  font-size: 33px;
  font-weight: bolder;
  text-align: justify;
}
.con-boton{
  display: flex;
  justify-content: space-between;
}
.cont-btn-fir{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.texto-firma2{
  width: 100%;
}
.btn-firma{
  border-radius: 60px;
  margin-top: 30px;
  border: 3px solid yellow;
  background: black;
  color: yellow;
  width: 370px;
  height: 115px;
  font-size: 40px;
  font-weight: 500;
}
.btn-firma:hover{
  cursor: pointer;
  margin-top: 30px;
  border: 4px solid black;
  background: yellow;
  color: black;
}
@media (max-width:768px){
  .texto{
    
    margin-top: 0px;
  }
  .titulo-firma{
    margin-top: 0px;
    font-size: 1.4rem;
    
  }
  .texto-firma{
    font-size: 18px;
  }
  .btn-firma{
    border-radius: 30px;
    margin-top: 30px;
    border: 3px solid yellow;
    background: black;
    color: yellow;
    width: 240px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-firma:hover{
    cursor: pointer;
    margin-top: 30px;
    border: 4px solid black;
    background: yellow;
    color: black;
  }
}
/* paso 7*/
.puas{
  max-width: 100%;
}
.con-perfil{
  position: relative;
  display: flex;
  justify-content: center;
}
.perfil{
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  margin-top: -400px;
  border: 5px solid yellow;
}
.cont-btn-7{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.titulo-7{
  font-size: 5rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
.eliminado{
  margin-top: 30px;
  color: #5e365d;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.texto-7{
  margin-top: 20px;
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.logos-7{
  width: 30%;
  margin: 0 55px;
}
.con-logos-7{
  margin-top: 40px;
  text-align: center;
}
.boton-7{
  border-radius: 60px;
  margin-top: 30px;
  border: 3px solid yellow;
  background: black;
  color: yellow;
  width: 370px;
  height: 115px;
  font-size: 40px;
  font-weight: 500;
}
.boton-7:hover{
  border: 3px solid black;
  background: transparent;
  color: black;
}
@media (max-width:768px){
  .perfil{
    width: 100px;
    height: 100px;
    margin-top: -120px;
  }
  .cont-btn-7{
    width: 90%;
  }
  .titulo-7{
    font-size: 1.9rem;
  } 
  .eliminado{
    font-size: 1.5rem;
  }
  .texto-7{
    font-size: 1.4rem;
  }
  .logos-7{
  width: 30%;
  margin: 0 25px;
  }
}
/*paso 3*/
.encabezado{
  background: yellow;
  display: flex;
}
.titulo-3{
  font-size: 3.5rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 27px 10px;
}
.eliminado-3{
  margin-top: 30px;
  color: #5e365d;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.img-paso3{
  width: 100%;
}
.contedor-publicaciones{min-height: 300px;background-color: #f2f1f6;}
.boton-3{
 background-color: black;
 margin-bottom: 30px;
}
.form-btn-3{
  text-align: center;
}

.btn-3{
  border-radius: 60px;
  margin-top: 30px;
  border: 3px solid black;
  background: white;
  color: black;
  width: 370px;
  height: 115px;
  font-size: 40px;
  font-weight: 500;
}
.btn-3:hover{
  border: 3px solid black;
  background: yellow;
  color: black;
}
@media (max-width:768px){
  .puas-3{
    visibility: hidden;
    width: 100%
  }
  .btn-3{
    color: black;
    width: 240px;
    height: 55px;
    font-size: 16px;
  }
  .titulo-3{
    font-size: 1rem;
    padding: 22px 10px;
  }
  .eliminado-3{
    margin-top: 10px;
    font-size: 1rem;
  } 
}