html {
  box-sizing: border-box;
  font-family: trade !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: #2f3136;
}
 @font-face {
	font-family: trade;
	src: url(../FONT/Trade.ttf);
}

#container{
  background-color: #2f3136;
}
/* empiezan estilos de la hoja main*/
.logo{
  max-width: 40%;
  padding: 0px 17px;
}

.titulo{
  /* margin-top: 20px; */
  color: yellow;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  font-family: trade;
}

  .contendor-inferior{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-img{
    /* background: black; */
    width: 100%;
	margin-bottom:20px;
}
.img-principal{
    width: 100%;
}
.contenedor-boton{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.subtitulo{
    text-transform: uppercase;
    color: black;
    font-size: 1.5rem;
    text-align: center;
	font-family: trade;
}
.boton{
  border-radius: 30px;
  margin-top: 10px;
  border: 3px solid yellow;
  background: black;
  color: yellow;
  width: 240px;
  height: 55PX;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: trade;
}
.boton:hover{
  cursor: pointer;
  margin-top: 10px;
  border: 4px solid black;
  background: yellow;
  color: black;
}
.logos{
  display: table-row;
  justify-content: space-around;
  padding-bottom: 20px;
}

@media (max-width:768px){
  .logos{
    display: inline-table;
    
  }
  .logo{
    max-width: 50%;
    padding: 13px;
  }
  .titulo{

    color: yellow;
    font-size: 1.3rem;
  }
  .contenedor-boton{
    width: 100%;
    margin-bottom: 10px;
  }
  .boton{
    border-radius: 60px;
    margin-top: 10px;
    border: 1px solid yellow;
    background: black;
    color: yellow;
    width: 240px;
    height: 55px;
    font-size: 16px;
  }
  .boton:hover{
    margin-top: 10px;
    border: 1px solid black;
    background: yellow;
    color: black;
  }
  .subtitulo{
    font-size: 1rem;
  }

}
/*terminan estilos de la hoja main*/
/* empiezan estilos de la hoja paso 6 */
/**/
.espacio{
}
.cont-texto{
  position: relative;
}
.texto{
  font-family: trade;
  position: absolute;
  width: 52%;
  margin-top: 0px;
}
.titulo-firma{
font-family: trade;
  margin-top: 0px;
  color: yellow;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-left: 20px;
}
.texto-firma{
  color: black;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  font-family: trade;
}
.con-boton{
  display: flex;
  justify-content: space-between;
}
.cont-btn-fir{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.texto-firma2{
  width: 100%;
}
.btn-firma{
  border-radius: 30px;
  margin-top: 30px;
  border: 3px solid yellow;
  background: black;
  color: yellow;
  width: 240px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  font-family: trade;
}
.btn-firma:hover{
  cursor: pointer;
  margin-top: 30px;
  border: 4px solid black;
  background: yellow;
  color: black;
}
.txt-6{
  text-align: justify;
}
@media (max-width:768px){
  .texto{
    margin-top: 0px;
  }
  .titulo-firma{
    margin-top: 0px;
    font-size: 1.4rem;

  }
  .texto-firma{
    font-size: 18px;
  }
  .btn-firma{
    border-radius: 30px;
    margin-top: 30px;
    border: 3px solid yellow;
    background: black;
    color: yellow;
    width: 240px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-firma:hover{
    cursor: pointer;
    margin-top: 30px;
    border: 4px solid black;
    background: yellow;
    color: black;
  }
}
/* terminan  estilos de la hoja paso 6 */
/* inicia  estilos de la hoja paso 7 */
/* paso 7*/
.puas{
  max-width: 100%;
}
.con-perfil{
  position: relative;
  display: flex;
  justify-content: center;
}
.perfil{
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  margin-top: -192px;
  border: 5px solid yellow;
}
.foto-perfil{
  width: 100%; 
  border-radius: 50%
}
.cont-btn-7{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.titulo-7{
  font-size: 1.8rem;
  font-family: trade;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
.eliminado{
  margin-top: 5px;
  color: #5e365d;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: trade;
}
.texto-7{
  margin-top: 20px;
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: trade;
}
.logos-7{
  width: 30%;
  margin: 0 25px;
}
.con-logos-7{
  margin-top: 40px;
  text-align: center;
}
.boton-7{
  border-radius: 60px;
  margin-top: 30px;
  border: 3px solid yellow;
  background: black;
  color: yellow;
  width: 370px;
  height: 115px;
  font-size: 40px;
  font-weight: 500;
  font-family: trade;
}
.boton-7:hover{
  border: 3px solid black;
  background: transparent;
  color: black;
}
@media (max-width:768px){
  .perfil{
    width: 100px;
    height: 100px;
    margin-top: -120px;
  }
  .cont-btn-7{
    width: 90%;
  }
  .titulo-7{
    font-size: 1.5rem;
  }
  .eliminado{
    font-size: 1.5rem;
  }
  .texto-7{
    font-size: 1.4rem;
  }
  .logos-7{
  width: 30%;
  margin: 0 25px;
  }
}

/* inicia  modulo del paso 3*/
.puas-3{
  visibility: hidden;
  width: 100%
}
.encabezado{
  background: yellow;
  display: flex;
}
.titulo-3{
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 10px;
  font-family: trade;
}
.eliminado-3{
  margin-top: 10px;
  color: #5e365d;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: trade;
}
.img-paso3{
  width: 100%;
}
.contedor-publicaciones{
  min-height: 47vh;
  background-color: #f2f1f6;
}
.boton-3{
 background-color: black;
 margin-bottom: 30px;
}
.form-btn-3{
  text-align: center;
}

.btn-3{
  border-radius: 60px;
  margin-top: 30px;
  border: 3px solid black;
  background: white;
  color: black;
  width: 240px;
  height: 55px;
  font-size: 16px;
  font-family: trade;
  font-weight: 500;
}
.btn-3:hover{
  border: 3px solid black;
  background: yellow;
  color: black;
}
@media (max-width:768px){
  .puas-3{
    visibility: hidden;
    width: 100%
  }
  .btn-3{
    color: black;
    width: 240px;
    height: 55px;
    font-size: 16px;
  }
  .titulo-3{
    font-size: 1.5rem;
    padding: 7px 10px;
  }
  .eliminado-3{
    margin-top: 10px;
    font-size: 1.5rem;
  } 
}
/* termina  modulo del paso 3*/
/* inicia estilos del paso2 */
.contendor-inferior-2{
  background-color: #5e365d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conversacion{
  font-size: 1rem;
  color: white;
  text-align: center;
  font-family: trade;
}
.cont-2{
  position: absolute;
  margin-top: -134px;
  display: flex;
  justify-content: center;
}
.con-titulo-2{
  flex: 2;
  margin-top: 10px;
  text-align: center;
  text-align: center;
}
.subtitulo-2{
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: trade;
}

.subtitulo-2 span{
  background-color: yellow;
}
.titulo-2 span{
  color: black;
  background-color: yellow;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: trade;
}
.texto-2{
  font-size: .9rem;
  color: white;
  font-weight: 700;
  font-family: trade;
}

.contendor-mujer{
  flex: 1;
  margin-left: 20px;
  text-align: center;
}
.contendor-mujer img{
  width: 100%;
}
.contenedor-web{
  width: 300px;
  margin-top: 23px;
  height: 200px;
  background-color: #f2f1f6;
}
.btn-paso6{
  width: 120px;
}
.con-img-post{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.foto-public
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post{
  padding-top: 30px;
  display: flex;
  padding-top: 10px;
}
.post:hover{
  background: -webkit-linear-gradient(top, rgba(255,254,237,1) 0%, rgba(255,254,237,1) 1%, rgba(255,243,156,1) 51%, rgba(255,241,138,1) 62%, rgba(250,232,95,1) 88%, rgba(250,225,5,1) 99%, rgba(250,225,5,1) 100%);
}
.ancler-post{
  text-decoration: none;
}
.ancler-post:hover{
  text-decoration: none;
}
.nombre-publi{
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding-left: 10px;
  margin-top: 3px;
}
.post-text{
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.post-text:hover{
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

@media (max-width:768px){
  .cont-2{
    flex-direction: column;
    margin-top: -100px;
  }
  .contendor-mujer{
    flex: 1;
    margin-left: 20px;
    text-align: center;
  }
  .contendor-mujer img{
    width: 50%;
  }
  .con-titulo-2{
    text-align: center;
  }
  .subtitulo-2{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .subtitulo-2 span{
    background-color: yellow;
  }
  .titulo-2{
    color: black;
    background-color: yellow;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  .texto-2{
    font-size: .5rem;
    color: white;
   font-weight: 700; 
  }
  .contenedor-web{
    margin-top: 180px;
    height: 200px;
    background-color: #f2f1f6;
    width: 300px;
  }
 .btn-paso6{
     width: 120px;
  } 

 .con-img-post{
    flex: 50px;
    padding: 10px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: unset;
  }
  .foto-public{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

}
/** modificaciones del 12 de mayo*/
#PhotoPerfil{
  width: 100%;
  border-radius: 50%;
}
.lg-2{
  padding-top: 10px;
  margin-bottom: 10px;
}
.sin-borde{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.con-titulo-3{
	padding-left: 13px;
}
.conversaion{
	font-family:trade;
	color:#000;
	font-weight:bold;
	font-size: 1rem;
}
.instruc{
	font-size:16px;
	font-weight:900;
	font-family:trade;
}